@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgb(26, 25, 25);
}
.login .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
}
.login .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  mix-blend-mode: screen;
}

.login .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.login .content .form {
  width: 50%;
}
.login .content .form h2 {
  color: #127960;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #fff;
  display: inline-block;
  letter-spacing: 1px;
}
.login .content .form .inputbx {
  margin-bottom: 20px;
}
.login .content .form .inputbx span {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  display: inline-block;
  color: #127960;
  font-weight: 300;
  letter-spacing: 1px;
}
.login .content .form .inputbx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 300;
  background: #fff;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  /* background: transparent; */
  border-radius: 30px;
}
.login .content .form .inputbx input[type="submit"] {
  background: #127960;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.login .content .form .inputbx input[type="submit"]:hover {
  background: #fff;
  color: #127960;
}
.login .content .form .remember {
  margin-bottom: 10px;
  color: #127960;
  font-weight: 400;
  font-size: 14px;
}
.login .content .form .inputbx p {
  color: #127960;
}
.login .content .form .inputbx #nl {
  font-size: 16px;
  font-weight: 300;
}
.login .content .form .inputbx p a {
  color: #1478bb;
}
.login .content .form h3 {
  color: #127960;
  /* text-align: center; */
  font-size: 16px;
  margin: 50px 0 10px;
  font-weight: 300;
}
.login .content .form .sci {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.login .content .form .sci li {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(44, 43, 43);
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.login .content .form .sci li:hover {
  background: #127960;
}
.login .content .form .sci li i {
  transform: scale(0.5);
  filter: invert(1);
  font-size: 65px;
}

@media (max-width: 768px) {
  .login .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .login .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .login .content .form {
    width: 100%;
    padding: 40px;
    background: rgba(92, 90, 90, 0.9);
    margin: 30px;
  }
  .login .content .form h3 {
    color: #607d8b;
    text-align: center;
    margin: 30px 0 10px;
    font-weight: 500;
  }
}
.ftr {
  width: 100%;
  height: 5em;
  color: #fff;
  border: 2px solid #050505;
  background: #127960;
}
.ftr h2 {
  float: right;
  margin-top: 25px;
}
